@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
 }
 body{
  overflow-x: hidden;
 }

 :focus {
  outline:0;
  /* box-shadow:  0 0 0 2px #F5DBDA; */
 }
/* body {
  background: ;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
